<div>
	<style>
		.errorMessage {
			color: red;
		}
	</style>
	<h1>Main Chat Area</h1>
	<div>		
		{{$ctrl.username}}, welcome to the main chat area.  Enter a message in the area provided.
	</div>
	<div>
		<input hidden="yes" ng-model="$ctrl.username"/>
		<form ng-submit="$ctrl.sendMessage()">
			<input type="text" size="90" ng-model="$ctrl.newMessage" placeholder="enter a message here"/>
			<input type="submit" value="Send"/>
		</form>
	</div>
	<div>
		<textarea id="message-area" ng-model="$ctrl.messageArea" rows="15" cols="100" readonly="readonly"></textarea>
	</div>
</div>

